/*
Table of Contents:
1. Navbar
2. Hero
3. Container
4. Featured Games
*/

/* Navbar*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}

.nav .nav__logo {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  position: absolute;
}

.nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav ul li {
  margin: 0 10px;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;
}

.hero .title {
  font-size: 50px;
  font-weight: 300;
  color: #333;
}

.hero .subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #333;
}

/* Container */

.container {
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
  padding: 0 20px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 20px 0 40px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  font-size: 14px;
  width: 120px;
  height: 40px;
}

/* Featured Games */

.featured-games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 20px;

}

.featured-games .game {
  margin-bottom: 20px;
  padding: 20px 40px 20px 40px;
  border:rgba(0, 0, 0, 0.1) solid;
  border-radius: 20px;
  cursor: pointer;
}